[submodule "frontend"]
	path = frontend
	url = https://github.com/tapiwago/dental.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/tapiwago/dental-api.git
	branch = main
